<div class="mission-container">
  <header><h1>SpaceX Launch Programs</h1></header>
  <main class="mission-list">
    <app-filters-card
      (selectYear)="selectYear($event)"
      [selectedYear]="selectedYear"
      (launchStatus)="selectLaunchStatus($event)"
      [isLaunchSuccess]="isLaunchSuccess"
      (landStatus)="selectLandStatus($event)"
      [isLandSuccess]="isLandSuccess"
    ></app-filters-card>
    <app-mission-card [missionDetails]="missionDetails"></app-mission-card>
  </main>
  <footer><h2>Developed By: Mahathi Srivatsa</h2></footer>
</div>
