<div class="filter-container">
  <h3>Filters</h3>
  <p>Launch Year</p>
  <span>
    <ng-container *ngFor="let button of yearButtons">
      <button
        (click)="emitSelectedYear($event)"
        value="{{ button }}"
        [ngClass]="button == selectedYear ? 'selected-button' : ''"
      >
        {{ button }}
      </button>
    </ng-container>
  </span>
  <p>Successful Launch</p>
  <span>
    <ng-container *ngFor="let button of isSuccess">
      <button
        (click)="emitLaunchStatus($event)"
        value="{{ button }}"
        [ngClass]="button == isLaunchSuccess ? 'selected-button' : ''"
      >
        {{ button }}
      </button>
    </ng-container>
  </span>
  <p>Successful Landing</p>
  <span>
    <ng-container *ngFor="let button of isSuccess">
      <button
        (click)="emitLandStatus($event)"
        value="{{ button }}"
        [ngClass]="button == isLandSuccess ? 'selected-button' : ''"
      >
        {{ button }}
      </button>
    </ng-container>
  </span>
</div>
